body{
    background-color: #282424;
    color: white;
}
a{
    color: #0c6cfc;
}
h1, h2{
    font-weight: bold;
}
h4, h5{
    font-weight: normal;
}
img{
    border: 2px solid black;
    border-radius: 5px;
}
:root{
    --bs-primary-rgb: 52,92,124;
    --bs-secondary-rgb: 140,148,148;
    --bs-success-rgb: 23,174,172;
    --bs-info-rgb: 44,124,172;
    --bs-warning-rgb: 243,155,20;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 197, 207, 217;
    --bs-dark-rgb: 67,67,68;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
}
.table-light {
    --bs-table-bg: #e1e1e1;
    --bs-table-striped-bg: #cecece;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #c7c7c7;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #b6b6b6;
    --bs-table-hover-color: #000;
}
.container{
    width: 65%;
}
.text-justify{
    text-align: justify;
}
.carusel-slide-text{
    font-size: 14pt;
}
.carusel-slide-header{
    font-size: 20pt;
}
.navbar{
    position: relative;
}
.card-wide{
    width: 45rem;
    color: #000;
}
.clear-both{
    clear: both;
}
@media screen and (max-width: 600px) {
    .container { 
        width: 100%;

    }
    p, li {
        font-size: 9pt;
    }
    h1 {
        font-size: 16pt;
    }
    h2 {
        font-size: 12pt;
    }
}
@media screen and (max-width: 1100px) {
    .card-little{
        width: 40% !important;
    }
}
